PORT=8080
DATABASE_URL='postgresql://neondb_owner:'
SERVER_HOST=0.0.0.0
APP_NAME=scm-backend
ENV=dev
JWT_SECRET=123123
VAULT_ADDR=https://..../
VAULT_TOKEN=s.xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VAULT_MOUNT=secrets