# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output folders
tmp/

# IDE/editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store

# Air live reload
.air.toml

# Env files
.env


# Logs
*.log

# Coverage
coverage.out

# Vendor
vendor/

.DS_Store